:root {
  --primary: #494949;
  --orange: #c36319;
  --dark: black;
  --light-dark: #a5a09e;
}

* {
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  color: var(--orange);
  font-size: 18px;
}


h2 a:visited {
  color: #adadad;
}

h2 a {
  color: var(--primary);
}

header {
  margin-top: 50px;
}

main {
  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
  color: var(--orange)
}
.footer a {
  display: inline-block;
  padding: 10px;
  padding: 10px;
  background-color: var(--orange);
  color: var(--primary);
}

p {
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--orange);
  line-height: 1;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

.card-header h2 {
  color: var(--primary);
}

.btn {
  font-size: 20px;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 7px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--orange);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--orange);
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: var(--orange);
}

.nav-item {
  margin: 0 40px;
}

.nav-item a {
  color: var(--primary);
}

.hero {
  padding: 2% 5%;
  background-color: var(--orange);
  color: var(--primary);
}

.hero p {
  max-width: 75%;
}

.app-title {
  font-size: 50px;
  background-color: var(--primary);
  color: var(--orange);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

.app-title a {
  color: var(--orange);
}

.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--orange);
}


.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--orange);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--orange);
  padding: 1%;
}

.card-body {
  padding: 1%;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 20px;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 20px;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

